<%= bootstrap_form_for resource, url: record_form_action_url(resource), html: {:class => 'form-inline editor'} do |f| %>
  <div id="descriptions_display">
    <h2 class="non lower">
	  <%= t('hydra_editor.form.title') %>
	  <small class="pull-right"><span class="error">*</span> <%= t('hydra_editor.form.required_fields') %></small> 
	</h2>
    <div class="well">
      <% f.object.terms_for_editing.each do |term| %>
        <%= render :partial => "records/edit_field", :locals => {:f => f, :render_req => true, :key => term } %>
      <% end %>
    </div> <!-- /well -->
  </div>
  <%= hidden_field_tag :type, params[:type] %>

  <div class="form-actions">
    <div class="primary-actions">
      <%= f.primary 'Save' %>
      <%= link_to t(:'helpers.action.cancel'), main_app.root_path, class: 'btn btn-link' %>
    </div>
  </div>
<% end %>

